<launch>
    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find service_node)/launch/planning_map.yaml" respawn="false" />
<group ns="car1">
    <node pkg="service_node"  name="global_planning"  type="global_planning" output="screen"/>
    <node pkg="my_simulation" type="tf_pub" name="tf_pub" output="screen"/>
</group>
<group ns="car2">
    <node pkg="service_node"  name="global_planning"  type="global_planning" output="screen"/>
    <node pkg="my_simulation" type="tf_pub" name="tf_pub" output="screen"/>
</group>
<group ns="car3">
    <node pkg="service_node"  name="global_planning"  type="global_planning" output="screen"/>
    <node pkg="my_simulation" type="tf_pub" name="tf_pub" output="screen"/>
</group>
<group ns="car4">
    <node pkg="service_node"  name="global_planning"  type="global_planning" output="screen"/>
    <node pkg="my_simulation" type="tf_pub" name="tf_pub" output="screen"/>
</group>
    <node pkg="task_node" type="build_up_task1" name="build_up_task1" output="screen"/>
    <node pkg="task_node" type="build_up_task2" name="build_up_task2" output="screen"/>
    <node pkg="task_node" type="build_up_task3" name="build_up_task3" output="screen"/>
    <node pkg="task_node" type="build_up_task4" name="build_up_task4" output="screen"/>
    <!-- run task  -->
    <!-- <node pkg="task_node" type="build_up_task" name="build_up_task" output="screen"/> -->
    <!-- Run the rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find service_node)/launch/test_four_car_planning.rviz" />
</launch>