<launch>
<!-- run simulation -->
<include file="$(find my_simulation)/launch/worlds.launch"/>
<!-- Run the map server -->
<node name="map_server" pkg="map_server" type="map_server" args="$(find service_node)/launch/planning_map.yaml" respawn="false" />
<node pkg="service_node"  name="global_planning"  type="global_planning" output="screen"/>
<!-- 发布tf -->
<node pkg="my_simulation" type="tf_pub" name="tf_pub" output="screen"/>
<!-- run task  -->
<!-- <node pkg="task_node" type="build_up_task" name="build_up_task" output="screen"/> -->
<!-- Run the rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find service_node)/launch/test_planning.rviz" />
</launch>