<launch>
  <param name="car_id" type="int" value="1" />

  
  <node respawn="true" pkg="joy" type="joy_node" name="gamepad" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.0" />
    <param name="autorepeat_rate" value="10.0" />
  </node>

  <node pkg="source_node" name="driver_source_node" type="driver_source_node" />

  <node pkg="control_node" name="remote_control_node" type="remote_control_node" />

</launch>