<launch>
    <!-- 仿真需要1、仿真模型 2、地图 3、rviz 4、tf（odom to map） 5、小车控制（planning&path_follow) -->
    <!-- run simulation -->
    <!-- 这个是gazebo模型 -->
    <!-- <include file="$(find simulation)/launch/worlds.launch"/> -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find simulation)/worlds/robot2020_fourcar.world" respawn="false" >
        <!-- <remap from="cmd_vel" to="cmd_vel" /> -->
        <param name="base_watchdog_timeout" value="0.01" />
    </node>
    <!-- 上位机交互程序 -->
    <node pkg="communication_node"  type="zmq_recv"     name="zmq_recv"    />
    <node pkg="communication_node"  type="zmq_send"     name="zmq_send"    />
    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find simulation)/launch/planning_map.yaml" respawn="false" />    
    <group ns="robot_0">
        <!-- param -->
        <param name="car_id" 	  type="int" 			             value="0"                 />
        <!-- planning -->
        <node pkg="service_node"  type="global_planning"             name="global_planning"    />
        <!-- 发布tf -->
        <node pkg="tf" type="static_transform_publisher" name="map_to_base_link"
            args="0 0 0 0 0 0 /map odom 100" />
        <!-- task node -->
        <node pkg="task_node"     type="build_up_task_multi_car"     name="build_up_task_multi_car"  />
        <!-- control node -->
        <node pkg="control_node"  type="path_tracking_node"          name="path_tracking_node" />
        <!-- behavior tree -->
        <node pkg="decision_node" type="behavior_node"               name="bahevior_node"      />
        <!-- separate node -->
        <node pkg="service_node"  type="separate_goal"               name="separate_goal"      />
    </group>
    <group ns="robot_1">
        <!-- param -->
        <param name="car_id" 	  type="int" 			             value="1"                 />
        <!-- planning -->
        <node pkg="service_node"  type="global_planning"    	     name="global_planning"    />
        <!-- 发布tf -->
        <node pkg="tf" type="static_transform_publisher" name="map_to_base_link"
            args="0 0 0 0 0 0 /map odom 100" />
        <!-- task node -->
        <node pkg="task_node"     type="build_up_task_multi_car"     name="build_up_task_multi_car"  />
        <!-- control node -->
        <node pkg="control_node"  type="path_tracking_node" 	     name="path_tracking_node" />
        <!-- behavior tree -->
        <node pkg="decision_node" type="behavior_node"      	     name="bahevior_node"      />
        <!-- separate node -->
        <node pkg="service_node"  type="separate_goal"               name="separate_goal"      />
    </group>
    <group ns="robot_2">
        <!-- param -->
        <param name="car_id" 	  type="int" 			             value="2"                 />
        <!-- planning -->
        <node pkg="service_node"  type="global_planning"    	     name="global_planning"    />
        <!-- 发布tf -->
        <node pkg="tf" type="static_transform_publisher" name="map_to_base_link"
            args="0 0 0 0 0 0 /map odom 100" />
        <!-- task node -->
        <node pkg="task_node"     type="build_up_task_multi_car"     name="build_up_task_multi_car"  />
        <!-- control node -->
        <node pkg="control_node"  type="path_tracking_node" 	     name="path_tracking_node" />
        <!-- behavior tree -->
        <node pkg="decision_node" type="behavior_node"      	     name="bahevior_node"       />
        <!-- separate node -->
        <node pkg="service_node"  type="separate_goal"               name="separate_goal"      />
    </group>
    <group ns="robot_3">
        <!-- param -->
        <param name="car_id" 	  type="int" 			             value="3"                 />
        <!-- planning -->
        <node pkg="service_node"  type="global_planning"    	     name="global_planning"    />
        <!-- 发布tf -->
        <node pkg="tf" type="static_transform_publisher" name="map_to_base_link"
            args="0 0 0 0 0 0 /map odom 100" />
        <!-- task node -->
        <node pkg="task_node"     type="build_up_task_multi_car"     name="build_up_task_multi_car"    />
        <!-- control node -->
        <node pkg="control_node"  type="path_tracking_node" 	     name="path_tracking_node" />
        <!-- behavior tree -->
        <node pkg="decision_node" type="behavior_node"      	     name="bahevior_node"      />
        <!-- separate node -->
        <node pkg="service_node"  type="separate_goal"               name="separate_goal"      />
    </group>

    <!-- Run the rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation)/rviz/test_planning_four_car.rviz" />
</launch>
