<launch>
    <!-- 仿真需要1、仿真模型 2、地图 3、rviz 4、tf（odom to map） 5、小车控制（planning&path_follow) -->
    <!-- run simulation -->
    <!-- 这个是gazebo模型 -->
    <!-- <include file="$(find simulation)/launch/worlds.launch"/> -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find simulation)/worlds/robot2020_fourcar.world" respawn="false" >
        <!-- <remap from="cmd_vel" to="cmd_vel" /> -->
        <param name="base_watchdog_timeout" value="0.01" />
    </node>
    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find simulation)/launch/planning_map.yaml" respawn="false" />    
    <group ns="robot_0">
        <!-- planning -->
        <node pkg="service_node"  type="global_planning"    name="global_planning"    />
        <!-- 发布tf -->
        <node pkg="simulation"    type="tf_pub"             name="tf_pub"             />
        <!-- task node -->
        <node pkg="task_node"     type="build_up_task1"     name="build_up_task1"     />
        <!-- control node -->
        <node pkg="control_node"  type="path_tracking_node" name="path_tracking_node" />
        <!-- behavior tree -->
        <node pkg="decision_node" type="behavior_node"      name="bahevior_node"      />
    </group>
    <group ns="robot_1">
        <!-- planning -->
        <node pkg="service_node"  type="global_planning"    name="global_planning"    />
        <!-- 发布tf -->
        <node pkg="simulation"    type="tf_pub"             name="tf_pub"             />
        <!-- task node -->
        <node pkg="task_node"     type="build_up_task2"     name="build_up_task2"     />
        <!-- control node -->
        <node pkg="control_node"  type="path_tracking_node" name="path_tracking_node" />
        <!-- behavior tree -->
        <node pkg="decision_node" type="behavior_node"      name="bahevior_node"      />
    </group>
    <group ns="robot_2">
        <!-- planning -->
        <node pkg="service_node"  type="global_planning"    name="global_planning"    />
        <!-- 发布tf -->
        <node pkg="simulation"    type="tf_pub"             name="tf_pub"             />
        <!-- task node -->
        <node pkg="task_node"     type="build_up_task3"     name="build_up_task3"     />
        <!-- control node -->
        <node pkg="control_node"  type="path_tracking_node" name="path_tracking_node" output="screen"/>
        <!-- behavior tree -->
        <node pkg="decision_node" type="behavior_node"      name="bahevior_node"       output="screen"/>
    </group>
    <group ns="robot_3">
        <!-- planning -->
        <node pkg="service_node"  type="global_planning"    name="global_planning"    />
        <!-- 发布tf -->
        <node pkg="simulation"    type="tf_pub"             name="tf_pub"             />
        <!-- task node -->
        <node pkg="task_node"     type="build_up_task4"     name="build_up_task4"     />
        <!-- control node -->
        <node pkg="control_node"  type="path_tracking_node" name="path_tracking_node" />
        <!-- behavior tree -->
        <node pkg="decision_node" type="behavior_node"      name="bahevior_node"      />
    </group>

    <!-- Run the rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation)/rviz/test_planning_four_car.rviz" />
</launch>