<launch>
  <arg name="x1_pos" default="3"/> 
  <arg name="y1_pos" default="3"/>
  <arg name="z1_pos" default="0.1"/>

  <arg name="x2_pos" default="3"/> 
  <arg name="y2_pos" default="22"/>
  <arg name="z2_pos" default="0.1"/>

  <arg name="x3_pos" default="22"/> 
  <arg name="y3_pos" default="3"/>
  <arg name="z3_pos" default="0.1"/>

  <arg name="x4_pos" default="22"/> 
  <arg name="y4_pos" default="22"/>
  <arg name="z4_pos" default="0.1"/>

<!-- 
  <arg name="x_pos" default="0"/> 
  <arg name="y_pos" default="0"/>
  <arg name="z_pos" default="0"/> -->

<!-- 加载静态世界，不包含小车，都是gazebo的sdf文件 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulation)/worlds/play_field.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>



  <!-- 加载机器人 -->

<group ns="car1">
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot)/urdf/my_robot.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model my_robot1 -x $(arg x1_pos) -y $(arg y1_pos) -z $(arg z1_pos) -param robot_description" />
</group>
<group ns="car2">
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot)/urdf/my_robot.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model my_robot2 -x $(arg x2_pos) -y $(arg y2_pos) -z $(arg z2_pos) -param robot_description" />
</group>
<group ns="car3">
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot)/urdf/my_robot.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model my_robot3 -x $(arg x3_pos) -y $(arg y3_pos) -z $(arg z3_pos) -param robot_description" />
</group>
<group ns="car4">
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot)/urdf/my_robot.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model my_robot4 -x $(arg x4_pos) -y $(arg y4_pos) -z $(arg z4_pos) -param robot_description" />
</group>

  <!-- 发布机器人信息 -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
</launch>
