<launch>
    <!-- 全局参数 -->
    <param name="use_sim_time" value="true"/>
    <param name="is_simulation" value="true"/>
    <rosparam>
        total_robot_ip: ["127.0.0.1:6661","127.0.0.1:6662","127.0.0.1:6663","127.0.0.1:6664"]
    </rosparam>
    <rosparam>
        debug_output_id: [1,2,3,4]
    </rosparam>
    <arg name="simulator" value="stage"/>
    <arg name="total_car_number" value="4" />
    <arg name="host_ip_address" value="127.0.0.1:6666" />
    <!-- 第一辆车的参数 -->
    <arg name="car_id1" value="1"/>
    <arg name="robot_name1" value="robot_0"/>
    <arg name="my_ip_address1" value="127.0.0.1:6661" />
    <!-- 第二辆车的参数 -->
    <arg name="car_id2" value="2"/>
    <arg name="robot_name2" value="robot_1"/>
    <arg name="my_ip_address2" value="127.0.0.1:6662" />
    <!-- 第三辆车的参数 -->
    <arg name="car_id3" value="3"/>
    <arg name="robot_name3" value="robot_2"/>
    <arg name="my_ip_address3" value="127.0.0.1:6663" />
    <!-- 第四辆车的参数 -->
    <arg name="car_id4" value="4"/>
    <arg name="robot_name4" value="robot_3"/>
    <arg name="my_ip_address4" value="127.0.0.1:6664" />

    <!-- select which map to use, default is simulation map-->
    <arg name="map_name" value="stage_map.yaml"  />
    <arg name="rviz_name" value="stage_multicar.rviz" />
    <arg name="stage_name" value="robot2020_fourcar.world" />
    <!-- <arg name="map_name" value="map0611.yaml" />
    <arg name="rviz_name" value="stage_sixcar_simulationmap.rviz" />
    <arg name="stage_name" value="robot2020_yuanqu.world" /> -->

    <!-- stage环境 -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find simulation)/worlds/$(arg stage_name)" />
    <!-- mapserver -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find bring_up)/map/$(arg map_name)" respawn="false" />
    <node name="map_server_0" pkg="map_server" type="map_server" args="$(find bring_up)/map/$(arg map_name)" respawn="false" >
        <remap from="/map" to="/robot_0/map" />
    </node>
    <node name="map_server_1" pkg="map_server" type="map_server" args="$(find bring_up)/map/$(arg map_name)" respawn="false" >
        <remap from="/map" to="/robot_1/map" />
    </node>
    <node name="map_server_2" pkg="map_server" type="map_server" args="$(find bring_up)/map/$(arg map_name)" respawn="false" >
        <remap from="/map" to="/robot_2/map" />
    </node>
    <node name="map_server_3" pkg="map_server" type="map_server" args="$(find bring_up)/map/$(arg map_name)" respawn="false" >
        <remap from="/map" to="/robot_3/map" />
    </node>
    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bring_up)/rviz/$(arg rviz_name)" />

    <!-- 定位用tf -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_base_link0" args="0 0 0 0 0 0 map robot_0/odom 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_base_link1" args="0 0 0 0 0 0 robot_0/odom robot_1/odom 100" />
    <node pkg="tf" type="static_transform_publisher" name="map_to_base_link2" args="0 0 0 0 0 0 robot_0/odom robot_2/odom 100" />
    <node pkg="tf" type="static_transform_publisher" name="map_to_base_link3" args="0 0 0 0 0 0 robot_0/odom robot_3/odom 100" />


    <!-- 我们的程序部分 -->
    <!-- camera -->
        <!-- <node pkg="web_video_server"  type="web_video_server" name="web_video_server" />
        <include file="$(find realsense2_camera)/launch/rs_t265.launch" />
        <include file="$(find apriltag_ros)/launch/continuous_detection.launch" /> -->

    <include file="$(find bring_up)/launch/simulation/labcar_simulation.launch" >
        <arg name="car_id" value="$(arg car_id1)" />
        <arg name="robot_name" value="$(arg robot_name1)"/>
        <arg name="total_car_number" value="$(arg total_car_number)" />
        <arg name="host_ip_address" value="$(arg host_ip_address)" />
        <arg name="my_ip_address" value="$(arg my_ip_address1)" />
        <arg name="simulator"  value="$(arg simulator)"/>
    </include>

    <include file="$(find bring_up)/launch/simulation/labcar_simulation.launch" >
        <arg name="car_id" value="$(arg car_id2)" />
        <arg name="robot_name" value="$(arg robot_name2)"/>
        <arg name="total_car_number" value="$(arg total_car_number)" />
        <arg name="host_ip_address" value="$(arg host_ip_address)" />
        <arg name="my_ip_address" value="$(arg my_ip_address2)" />
        <arg name="simulator"  value="$(arg simulator)"/>
    </include>

    <include file="$(find bring_up)/launch/simulation/labcar_simulation.launch" >
        <arg name="car_id" value="$(arg car_id3)" />
        <arg name="total_car_number" value="$(arg total_car_number)" />
        <arg name="host_ip_address" value="$(arg host_ip_address)" />
        <arg name="robot_name" value="$(arg robot_name3)"/>
        <arg name="my_ip_address" value="$(arg my_ip_address3)" />
        <arg name="simulator"  value="$(arg simulator)"/>
    </include>


    <include file="$(find bring_up)/launch/simulation/labcar_simulation.launch" >
        <arg name="car_id" value="$(arg car_id4)" />
        <arg name="total_car_number" value="$(arg total_car_number)" />
        <arg name="host_ip_address" value="$(arg host_ip_address)" />
        <arg name="robot_name" value="$(arg robot_name4)"/>
        <arg name="my_ip_address" value="$(arg my_ip_address4)" />
        <arg name="simulator"  value="$(arg simulator)"/>
    </include>

</launch>