<launch>
  <!-- 仿真需要1、仿真模型 2、地图 3、rviz 4、tf（odom to map） 5、小车控制（planning&path_follow) -->
  <!-- 车id -->
    <!-- ip只有通讯节点使用 -->
  <arg name="car_id" value="1"/>
  <param name="total_car_number" type="int" value="1" />
  <param name="car_id" type="int" value="$(arg car_id)" />
  <param name="host_ip_address" type="string" value="tcp://192.168.31.8:" />
  <param name="my_ip_address" type="string" value="tcp://192.168.31.144:" />
  <rosparam>
        total_robot_ip: ["tcp://192.168.31.144:"]
  </rosparam>
  <param name="use_sim_time" value="true"/>
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find simulation)/worlds/robot2020.world" respawn="false" >
  </node>
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find bring_up)/map/stage_map.yaml" respawn="false" />
  <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base"  >
      <rosparam file="$(find bring_up)/cfg/stage/single_car/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find bring_up)/cfg/stage/single_car/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find bring_up)/cfg/stage/single_car/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find bring_up)/cfg/stage/single_car/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find bring_up)/cfg/stage/single_car/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" /> 
	</node> -->
  <!-- 测试用tf -->
  <node pkg="tf" type="static_transform_publisher" name="map_to_base_link"
  args="0 0 0 0 0 0 map odom 100" />
  <!-- task node -->
  <node pkg="task_node"     type="build_up_task_nohost"      name="build_up_task_nohost"    output="screen"  />
  <!-- behavior tree -->
  <node pkg="decision_node" type="decision_node"      name="decision_node"  output="screen"   />
   <!-- separate goal -->
  <node pkg="service_node" type="separate_goal"      name="separate_goal"   output="screen"    />
  <!-- Run the rviz -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bring_up)/rviz/single_car_stage_simulation.rviz" /> -->
  <!-- cmd recv -->
  <!-- <node pkg="communication_node" name="receive_host_cmd" type="receive_host_cmd" output="screen"/> -->
  <!-- send robot state -->
  <!-- <node pkg="communication_node" name="publish_robot_state" type="publish_robot_state"  output="screen"/> -->
  <!-- receive other robot state -->
  <!-- <node pkg="communication_node" name="receive_robot_state" type="receive_robot_state"  /> -->
</launch>