<?xml version="1.0"?>
<robot name="turtlebot3_burger_sim" xmlns:xacro="http://www.ros.org/wiki/xacro"> 
    <gazebo>
        <plugin name="back_wheel_controller" filename="libgazebo_ros_diff_drive.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometrySource>world</odometrySource>
            <publishOdomTF>true</publishOdomTF>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <publishWheelTF>false</publishWheelTF>
            <publishTf>true</publishTf>
            <publishWheelJointState>true</publishWheelJointState>
            <legacyMode>false</legacyMode>
            <updateRate>100</updateRate>
            <leftJoint>left_back_hinge</leftJoint>
            <rightJoint>right_back_hinge</rightJoint>
            <wheelSeparation>0.26</wheelSeparation>
            <wheelDiameter>0.2</wheelDiameter>
            <wheelAcceleration>2</wheelAcceleration>
            <wheelTorque>30</wheelTorque>
            <rosDebugLevel>na</rosDebugLevel>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="front_wheel_controller" filename="libgazebo_ros_diff_drive.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometrySource>world</odometrySource>
            <publishOdomTF>true</publishOdomTF>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <publishWheelTF>false</publishWheelTF>
            <publishTf>true</publishTf>
            <publishWheelJointState>true</publishWheelJointState>
            <legacyMode>false</legacyMode>
            <updateRate>30</updateRate>
            <leftJoint>left_front_hinge</leftJoint>
            <rightJoint>right_front_hinge</rightJoint>
            <wheelSeparation>0.26</wheelSeparation>
            <wheelDiameter>0.2</wheelDiameter>
            <wheelAcceleration>2</wheelAcceleration>
            <wheelTorque>100</wheelTorque>
            <rosDebugLevel>na</rosDebugLevel>
        </plugin>
    </gazebo>  

  <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
        <alwaysOn>true</alwaysOn>
        <bodyName>imu_link</bodyName>
        <frameName>imu_link</frameName>
        <topicName>imu/data</topicName>
        <serviceName>imu_service</serviceName>
        <gaussianNoise>0.0</gaussianNoise>
        <updateRate>200</updateRate>
        <imu>
            <noise>
            <type>gaussian</type>
            <rate>
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
            </rate>
            <accel>
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
            </accel>
            </noise>
        </imu>
        </plugin>
  </gazebo>

    <gazebo reference="left_back_hinge">
        <mu1>5</mu1>
        <mu2>5</mu2>
        <kp>500.0</kp>
        <kd>1.0</kd>
        <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="right_back_hinge">
        <mu1>5</mu1>
        <mu2>5</mu2>
        <kp>500.0</kp>
        <kd>1.0</kd>
        <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="left_front_hinge">
        <mu1>5</mu1>
        <mu2>5</mu2>
        <kp>500.0</kp>
        <kd>1.0</kd>
        <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="right_front_hinge">
        <mu1>5</mu1>
        <mu2>5</mu2>
        <kp>500.0</kp>
        <kd>1.0</kd>
        <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="robot_base_link">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="right_front_wheel">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="right_back_wheel">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="left_front_wheel">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="left_back_wheel">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="platform">
        <material>Gazebo/Grey</material>
    </gazebo>

</robot>